
/* DOCUMENT SET UP */

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: #edeae5;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

a {
	text-decoration: none;
	color: #78AB46;
}

.clear {
	clear: both;
}

/* ALL SIDEBAR STUFF */
.sidebar-container {
	position: fixed;
	width: 280px;
	height: 100%;
	background-color: #edeae5;
	-webkit-transform: translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-item {
	color: #78AB46;
	font-size: 120%;
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 12px;
	letter-spacing: 3px;
	opacity: 0.7;
	cursor: pointer;
	font-weight: bold;

}

/* Styling the Sidebar Button */
#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section {
/*	width: 100%;
*/	height: 700px;
	position: relative;
}
/*#home-section {
	background: url('../img/bg.JPG') no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}
*/
#about-section {
	background-color: white;
	height: 700px;
}

#project-section  {
	background-color: #8EC187;
}

#contact-section {
	background-color: #fff;
}

#name {
	font-size: 500%;
	font-family: 'Pacifico', cursive;
	position: absolute;
	top: 50%;
	left: 32%;
	transform: translate(-50%, -50%);
	z-index: 11;
	color: white;
	cursor: default;
}

#color-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 10;
}

/* Styling for the quotes and text in each section */


/*.text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}*/

 .text #contact-text {
 	color: #D3D3D3;
 	
 }

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}



/* IMAGE FORMATTING FOR ABOUT ME PAGE */


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 2em 2em 0;
  position: relative;
  top: 50%;
  transform: translateY(210%);
  width: 150px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
.p-title {
	/*padding: 12px;*/
	font-family: 'Pacifico', cursive;
	font-size: 300%;
	position: absolute;
	left: 42%;
	top: 10%;
	font-weight: bold;
	margin-top: 15px;
	opacity: 0.9;

}

#abtme {
	color: #78AB46;
}

#portfolio {
	color: black;
	opacity: 0.7;
}

.tagline {
	/*padding: 12px;*/
	font-family: 'Pacifico', cursive;
	color: black;
	position: absolute;
	left: 25%;
	top: 20%;
	font-weight: bold;
	font-size: 180%;
	margin-top: 20px;
	opacity: 0.6;

}

#proj {
	color: white;
	opacity: 0.8;
	left: 34.3%;
}

.holder { 
	position: absolute;
	width: 25%;
	height: 25%;
	background-color: #EBEBEB;
	opacity: 1;
	z-index: 10;
}
#row {
	position: absolute;
	top: 42%;
	left: 15%;
}
.square {
    width: 250px;
    height: 250px;
    background: #edeae5;
    display: inline-block;
    margin-right: 60px;

}

.square:hover {
    -webkit-transform: scale(1.25);
}

.projname {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
}

.projinfo {
	padding: 5px;
	text-align: center;
	margin-bottom: 25px;
}

.more {
	width: 100px;
	text-align: center;
	padding: 10px;
	border: 3px solid #857c78;
	margin-left: 58px;
	cursor: pointer;

}









/* RANDOM CODE I DON'T NEED TO UNDERSTAND */

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #edeae5;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}



/* CONTACT ME PAGE */

ul.contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.contact-list li {
  display: inline-block;
  height: 150px;
  margin: 0 5em 5em 0;
  position: relative;
  top: 50%;
  transform: translateY(210%);
  width: 100px;
}

#contact {
	opacity: 0.7;
}
#cont {
	color: green;
	opacity: 0.8;
	left: 35%;
}







